{% extends 'accounts/base.html' %}

{% load django_bootstrap_breadcrumbs %}
{% load hosts %}

{% block breadcrumb-tags %}
    {% breadcrumb 'Accounts' 'root' %}
    {% breadcrumb 'Users' 'user:list' %}
    {% breadcrumb user.username 'user:detail' pk=user.pk %}
{% endblock %}

{% block html-title %}{{ user.get_full_name.title }}'s Profile{% endblock %}

{% block page-title %}{{ user.get_full_name.title }}{% endblock %}

{% block sidebar-title %}
<div class='profile-usertitle-name'>{{ user.get_full_name.title }}</div>
<div class='profile-usertitle-job'>
    {% if user.profile.organizations %}
        {% for organization in user.profile.organizations %}
            <a href='{{ organization.get_absolute_url }}'>{{ organization.name }}</a><br/>
        {% endfor %}
    {% else %}
        Website User
    {% endif %}
</div>
{% endblock %}

{% block sidebar-menu-detail-url %}{% host_url 'user:detail' pk=user.pk host 'accounts' %}{% endblock %}

{% block sidebar-menu-settings-url %}{% host_url 'user:settings:detail' pk=user.pk host 'accounts' %}{% endblock %}

{% block sidebar-menu-extra-items %}
    {% if user.profile.medicalofficer %}
        <li>
            <a href='{% host_url 'user:medical-officer:detail' pk=user.pk role='medical-officer' host 'accounts' %}'>
                <i class='glyphicons glyphicons-doctor'></i> Medical Officer
            </a>
        </li>
    {% endif %}
    {% if user.profile.labdirector %}
        <li>
            <a href='{% host_url 'user:lab-director:detail' pk=user.pk role='lab-director' host 'accounts' %}'>
                <i class='glyphicons glyphicons-lab'></i> Lab Director
            </a>
        </li>
    {% endif %}
    {% if user.settings.get_email_fields %}
        <li>
            <a href='{% host_url 'user:settings:email' pk=user.pk host 'accounts' %}'>
                <i class='glyphicons glyphicons-envelope'></i> Email Preferences
            </a>
        </li>
    {% endif %}

{% endblock %}

{% block sidebar-stat %}
    <!-- STAT -->
    <div class='portlet light'>
        <div class='row profile-stat'>
            <div class='col-md-12 col-sm-12 col-xs-12'>
                <div class='uppercase profile-stat-title'>{{ user.date_joined }}</div>
                <div class='uppercase profile-stat-text'>Member Since</div>
            </div>
            {% if roles.gene_peeks_staff %}
                <div class='col-md-12 col-sm-12 col-xs-12 text-center margin-top-20'>
                    {% with invite=user.invite %}
                        {% if invite and user.is_active == False %}
                            <form action='{% host_url 'user-invite:resend' pk=invite.id host 'accounts' %}' method='POST'>
                                {% csrf_token %}
                                <button type='submit' class='btn btn-warning' name='perform' value='true'>Resend Invite Email</button>
                            </form>
                        {% endif %}
                    {% endwith %}
                </div>
                <div class='col-md-12 col-sm-12 col-xs-12 text-center margin-top-20'>
                    <form action='{% host_url 'login_with_id' user_id=user.pk host 'accounts' %}' method='POST'>
                        {% csrf_token %}
                        <button type='submit' class='btn btn-danger'>Hijack {{ user.get_full_name }}</button>
                    </form>
                </div>
            {% endif %}
        </div>
    </div>
    <!-- END STAT -->
{% endblock %}