{% load staticfiles %}

<section class="content-section page-bottom-logos-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 page-bottom-logos">
                <div class="logos-container">
                    <a href='http://www.technologyreview.com/news/507491/genetic-screening-can-uncover-risky-matches-at-the-sperm-bank/'>
                        <img src="{% static 'core/img/logos/MITTechReview.png' %}" alt="MIT logo">
                    </a>
                </div>
                <div class="logos-container">
                    <a href='http://www.bbc.co.uk/news/science-environment-24398312'>
                        <img src="{% static 'core/img/logos/BBCWorldNews.png' %}" alt="BBC News logo">
                    </a>
                </div>
                <div class="logos-container">
                    <a href='http://www.cbsnews.com/videos/gene-analysis-detects-disease-risk-before-conception/'>
                        <img src="{% static 'core/img/logos/CBS.png' %}" alt="CBS This Morning logo">
                    </a>
                </div>


            </div>
        </div>
    </div>
</section>
