
/* Colors **************************************************************
************************************************************************/

/* $dark-grey: #78838E; $grey-secondary: #86929F; $grey-tertiary: #6B7783; $grey-border: #D5E0EB; $off-white: #E9F1F7; $blue: #00B8D6; $green: #53C6C1; $status-green: #3BB693; $hero-green: #3FC9A7; $red: #F16285; $red: #F06F63; $color-citation: #FC7CA0; $pink: #EA4972; $grey: #95989A; */


/* greyscale */

$coconut: #fff;
$white: $coconut;
$black: #000;

$default-text: #464646;

$grey: #86929F;
$grey-lite: #AFC2D5;
$grey-bg: lighten($grey-lite, 20%);
$grey-bg-lite: lighten($grey-lite, 10%);



/* palette */

$gene: #36959E;
$gene-lite: #6ABEC3;

$blueberry: #0CA9CC;
$blueberry-lite: #35C1DC;
$blue: $blueberry-lite;

$apple: #43B391;
$apple-lite: #7CC9AF;

$grape: #9470B0;
$grape-lite: #AD8ABF;

$watermelon: #E94A72;
$watermelon-lite: #F17B9E;

$tangerine: #EE6E62;
$tangerine-lite: #F48A85;

$lemon: #D6A828;
$lemon-lite: #FFD255;

$green-bg: #53C6C1;

$gp-green: #51B4B6;
