<div class='mt-element-list'>
    <div class='mt-list-head list-todo grey'>
        <div class='list-head-title-container'>
            <h3 class='list-title'>{% block list-name %}{% endblock %}</h3>
        </div>
    </div>
    <div class='mt-list-container list-todo'>
        <div class='list-todo-line'></div>
        <ul>
            {% block list-items %}
                {% for item in items %}
                    {% include 'core/components/project-list-item.html' %}
                {% endfor %}
            {% endblock %}
        </ul>
    </div>
</div>