.edit {
  cursor: pointer;
  &:after {
    content: "\270f";
    font-family: "Glyphicons Halflings", sans-serif;
    color: $watermelon;
    font-size: 60%;
    margin-left: 5px;
  }
}

.icon-box-center {
  display: inline-block;
  width: 6.5rem;
  height: 6.5rem;
  position: absolute;
  top: -3.25rem;
  left: calc(50% - 3.25rem);
  z-index: 10;
}