@font-face {
    font-family: SourcePro;
    font-weight: normal;
    src: url("/static/common/fonts/SourceSansPro-Light.otf") format("opentype");
}
@font-face {
    font-family: SourcePro;
    font-weight: 600;
    src: url("/static/common/fonts/SourceSansPro-Regular.otf") format("opentype");
}
@font-face {
    font-family: SourcePro;
    font-weight: 900;
    src: url("/static/common/fonts/SourceSansPro-Semibold.otf") format("opentype");
}
